USE [Myblog]
GO
/****** Object:  Table [dbo].[art]    Script Date: 5/3/2021 3:09:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[art](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[timerelease] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[blog]    Script Date: 5/3/2021 3:09:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[timerelease] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[short] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[contact]    Script Date: 5/3/2021 3:09:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[contact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[company] [nvarchar](255) NULL,
	[message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[art] ON 

SET IDENTITY_INSERT [dbo].[art] OFF
SET IDENTITY_INSERT [dbo].[blog] ON 

INSERT [dbo].[blog] ([id], [category], [title], [timerelease], [content], [short], [image]) VALUES (6, N'Food', N'Elon Musk vip pro no1', CAST(N'2019-05-04 00:00:00.000' AS DateTime), N'Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
Create prototype 
', N'Save it on database
', N'06.jpg')
SET IDENTITY_INSERT [dbo].[blog] OFF
